@import url(http://fonts.googleapis.com/css?family=Henny+Penny);

body {
	background-image: url(../images/background2.gif);
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    color: #666666;
    font-size: 12px;
    line-height: 1.6;
}

header {
    margin-bottom: 30px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

small {
    font-size: 13px;
}

ul a {
    text-decoration: none;
}

ul li {
    list-style: none;
    color: #222;
}

ul li a {
    text-decoration: none;
    color: #666;
}

h3 a {
    color: #e5f5ff;
    text-shadow: #666 1px 1px;
}

input {
    font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1em;
}

input[type="text"],
input[type="password"],
input[type="image"],
textarea,
select {
    outline: none;
    vertical-align: middle;
}

#clear {
    clear: both;
}

/* Slider */
#slider{
    background: #fff url(../images/loading.gif) no-repeat 50% 50%;
    width: 900px;
 	margin-left: auto;
 	margin-right: auto;
}

#slider img {
    display:none; 
 }

 /* Navigation */

#sectionTop {
    margin: 20px 0;
}

#navTop {
 	width: 900px;
 	margin-left: auto;
 	margin-right: auto;
 }

#navTop ul {
 	margin: 0, 20;
 	padding: 0;
 }

#navTop li {
 	float: left;
 	font-size: 18px;
 	padding: 0;
 	margin: 0 14px 0 14px;
 }

#navTop li:first-child {
    margin-left: 0;
}

#navTop li a {
 	display: block;
 	position: relative;
 	text-align: center;
 	color: #ffebf9;
 	float: left;
 	padding: 3px;
 	background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 -1px 0 #ff8fdb;
 }

#navTop li a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 #000;
 }

#navTop span{
    border: 1px dashed #ff8fdb;
    display: inline-block;
    padding: 4px 15px;
    cursor: pointer;
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#navTop span:hover {
    border-color: #fff;
}

/* Search */

.searchForm {
    height: 36px;
    margin-top: 7px;
}

input.searchBox {
    width: 165px;
	height: 26px;
    font-size: 14px;
    padding-left: 10px;
    background-color: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: #b3daff solid 1px;
    
}

input.searchBtn {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* Footer */

footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#navFooter ul {
    margin: 0;
    padding: 0;
}

#navFooter li {
    float: left;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#navFooter li:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

#navFooter li a {
    font-size: 10px;
    color: #000;
}

#navFooter li a:hover {
    color: #ff4de7;
}

#shareNavi .shareList li {
    float: right;
}

#shareNavi .shareList li img {
    width: 40px;
    height: 40px;
}

/* Clothes/Goods Page */

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container .upperList {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container .upperList li {
    float: right;
    font-size: 15px;
    margin-left: 10px;
    padding-right: 50px;
}

#container .upperList li a:hover {
    color: #ff4de7;
}

#container .upperList li img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    padding-left: 10px;
}

#container .upperList .myPage img {
    width: 25px;
    height: 25px;
    vertical-align: -5px;
}

#container .categoryNavi {
    float: left;
    width: 200px;
    margin-top: 40px;
    background-color: #fff;
    padding: 0 10px 15px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 13px;
    -moz-border-image: url(../images/woodframe.gif) 27 round;
    -webkit-border-image: url(../images/woodframe.gif) 27 round;
    -o-border-image: url(../images/woodframe.gif) 27 round;
    border-image: url(../images/woodframe.gif) 27 round;
    box-shadow: black 0 0 5px 0 inset;
}

#container #searchNavi {
    line-height: 35px;
    font-size: 14px;
    font-style: italic;
    padding-left: 0;
}

#container #searchNavi .clothesTitle {
    color: #f95f87;
    border-bottom: 1px solid #f95f87;
    background: url(../images/catnavi-icon-fashion.png) left center no-repeat;
}

#container #searchNavi .goodsTitle {
    color: #000;
    border-bottom: 1px solid #000;
    background: url(../images/stroller.png) left center no-repeat;
}

#searchNavi p {
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 15px;
}

#searchNavi .clothesList h3 a:hover,
#searchNavi .goodsList h3 a:hover {
    color: #ecffe5;
}

#searchNavi .clothesList .close a:hover,
#searchNavi .goodsList .close a:hover {
    text-decoration: underline;
}

#container #searchNavi .outer {
    height: 30px;
}

#container .categoryNavi #searchTitle {
    line-height: 35px;
    font-size: 14px;
    font-style: italic;
    color: #333;
    border-bottom: 1px solid #333;
    margin: 30px 0 20px 0;
    padding-left: 35px;
    background: url(../images/catnavi-icon-search.png) left center no-repeat;
}

#container .categoryNavi .searchSubtitle {
    margin: 20px 0 0 0;
} 

#container .categoryNavi .searchTable {
    width: 100%;
}


.searchKeyword {
    width: 130px;
}

#container .categoryNavi .searchTable .right {
    text-align: right;
}

#container .categoryNavi .searchPrice {
    width: 50px;
}

#container .products {
    float: right;
    width: 650px;
}

.products .clothesHead h1,
.products .goodsHead h1 {
    font-size: 30px;
    font-style: italic;
    margin-left: 20px;
    margin-top: 0;
    border-bottom: #ccc solid 1px;
    color: #ccc;
    text-shadow: #000 1px 1px 0;
}

.products .productsList .images {
    float: left;
    padding: 0 0 20px 25px;
}

.products .productsList .images:first-child {
    padding-left: 0;
}

.products .productsList .images img {
    width: 180px;
    height: 180px;
}

.products .pageNavi {
    margin-top: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 20px;
}

.products .pageNavi .paging {
    text-align: center;
}

.products .pageNavi .pages {
    margin: 0 16px;
    color: #ccc;
    line-height: 21px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.products .pageNavi .pages li {
    float: left;
    display: inline-block;
    padding: 0 10px;
}

.products .pageNavi .pages li a:hover {
    color: #ff4de7;
}

.products .pageNavi .navipageForward {
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
}

.products .pageNavi .navipageForward img {
    display: block;
}
