body {
	background-image: url(../images/background2.gif);
}

input[type="text"],
input[type="password"],
input[type="image"],
textarea,
select {
    outline:none;
}

#clear {
    clear: both;
}

section {
    margin: 20px 0;
}
/* Slider */
#slider{
    background: #fff url(../images/loading.gif) no-repeat 50% 50%;
    width: 900px;
 	margin-left: auto;
 	margin-right: auto;
}

#slider img {
    display:none; 
 }

 /* Navigation */
 #navTop {
 	width: 900px;
 	margin-left: auto;
 	margin-right: auto;
 }

 #navTop ul {
 	margin: 0, 20;
 	padding: 0;
 	list-style: none;
 }

 #navTop li {
 	float: left;
 	font-size: 18px;
 	padding: 0;
 	margin: 0 15px 20px 15px;
 }

#navTop li:first-child {
    margin-left: 0;
}

 #navTop li a {
 	display: block;
 	position: relative;
 	text-decoration: none;
 	text-align: center;
 	color: #ffebf9;
 	float: left;
 	padding: 3px;
 	background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 -1px 0 #ff8fdb;
 }

 #navTop span{
    border: 1px dashed #ff8fdb;
    display: inline-block;
    padding: 4px 15px;
    cursor: pointer;
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* Search */

input.searchForm {

}

input.searchBox {
    width: 165px;
	height: 25px;
    font-size: 14px;
    margin-top: 9px;
    padding-left: 5px;
    background-color: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: #b3daff solid 1px;
    
}

input.searchBtn {
    width: 30px;
    height: 30px;
    vertical-align: -10px;
    margin-left: 5px;
}

/* Footer */

footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#navFooter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navFooter li {
    float: left;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#navFooter li:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

#navFooter li a {
    text-decoration: none;
    font-size: 10px;
    color: black;
}

