@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
@import url(http://fonts.googleapis.com/css?family=Prosto+One);

body {
	background-image: url(../images/background2.gif);
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    color: #666666;
    font-size: 12px;
    line-height: 1.6;
}

header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

small {
    font-size: 13px;
}

ul a {
    text-decoration: none;
}

ul li {
    list-style: none;
    color: #222;
}

ul li a {
    text-decoration: none;
    color: #666;
}

h3 a {
    color: #e5f5ff;
    text-shadow: #666 1px 1px;
}

input {
    font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1em;
}

input[type="text"],
input[type="password"],
input[type="image"],
input[type="submit"],
input[type="button"],
textarea,
select {
    outline: none;
    vertical-align: middle;
}

div {
    display: block;
}

#clear {
    clear: both;
}

/* Slider */
#slider{
    background: #fff url(../images/loading.gif) no-repeat 50% 50%;
    width: 900px;
 	margin-left: auto;
 	margin-right: auto;
}

#slider img {
    display:none; 
 }

 /* Navigation */

#sectionTop {
    margin: 20px 0;
}

#navTop {
 	width: 900px;
 	margin-left: auto;
 	margin-right: auto;
 }

#navTop ul {
 	margin: 0, 20;
 	padding: 0;
 }

#navTop li {
 	float: left;
 	font-size: 18px;
 	padding: 0;
 	margin: 20px 14px 20px 14px;
 }

#navTop li:first-child {
    margin-left: 0;
}

#navTop li a {
    width: 85px;
 	display: block;
 	position: relative;
 	text-align: center;
 	color: #ffebf9;
 	float: left;
 	padding: 3px;
 	background: rgb(171,211,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 -1px 0 #ff8fdb;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: #abd3ee 1px 1px;
    letter-spacing: 1px;
 }

#navTop li a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 #000;
 }

/* Search */

.searchForm {
    height: 36px;
    margin-top: 5px;
}

input.searchBox {
    width: 165px;
	height: 26px;
    font-size: 14px;
    padding-left: 10px;
    background-color: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: #ccc solid 1px;
}

.searchBtn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 0;
    border: #ccc solid 1px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    background: rgb(171,211,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    box-shadow: #abd3ee 1px 1px;
    border: none;
}

.searchBtn:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e601";
    color: #ffebf9;
    font-style: normal;
    letter-spacing: normal;
    font-size: 18px;
    text-shadow: 0 -1px 0 #ff8fdb;
}

/* Footer */

footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#navFooter ul {
    margin: 0;
    padding: 0;
}

#navFooter li {
    float: left;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#navFooter li:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

#navFooter li a {
    font-size: 10px;
    color: #000;
}

#navFooter li a:hover {
    color: #ff4de7;
}

#shareNavi .shareList li {
    float: right;
}

#shareNavi .shareList li img {
    width: 40px;
    height: 40px;
}

/* Clothes/Goods Page */

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container .upperList {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container .upperList li {
    float: right;
    font-size: 15px;
    margin-left: 10px;
    padding-right: 50px;
}

#container .upperList .shoppingcart a:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e603";
    color: #ccebff;
    font-style: normal;
    letter-spacing: normal;
    font-size: 25px;
    padding-left: 10px;
    vertical-align: middle;
}

#container .upperList .myPage a:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e602";
    color: #ccebff;
    font-style: normal;
    letter-spacing: normal;
    font-size: 25px;
    padding-left: 10px;
    vertical-align: middle;
}

#container .upperList li a {
    color: #ccc;
    text-shadow: #666 1px 1px 1px;
    letter-spacing: 2px;
}

#container .upperList li a:hover {
    color: #ffebf9;
    text-shadow: #666 1px 1px 1px;
}

/*
#container .upperList li img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    padding-left: 10px;
}

#container .upperList .myPage img {
    width: 25px;
    height: 25px;
    vertical-align: -5px;
}
*/

#container .categoryNavi {
    float: left;
    width: 200px;
    margin-top: 40px;
    background-color: #fff;
    padding: 0 10px 15px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 13px;
    -moz-border-image: url(../images/woodframe.gif) 27 round;
    -webkit-border-image: url(../images/woodframe.gif) 27 round;
    -o-border-image: url(../images/woodframe.gif) 27 round;
    border-image: url(../images/woodframe.gif) 27 round;
    box-shadow: black 0 0 5px 0 inset;
}

#container #searchNavi {
    line-height: 35px;
    font-size: 14px;
    font-style: italic;
    padding-left: 0;
}

#container #searchNavi .clothesTitle {
    color: #f95f87;
    border-bottom: 1px solid #f95f87;
    background: url(../images/catnavi-icon-fashion.png) left center no-repeat;
}

#container #searchNavi .goodsTitle {
    color: #000;
    border-bottom: 1px solid #000;
    background: url(../images/stroller.png) left center no-repeat;
}

#searchNavi p {
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 15px;
}

#searchNavi .clothesList h3 a:hover,
#searchNavi .goodsList h3 a:hover {
    color: #ecffe5;
}

#searchNavi .clothesList .close a:hover,
#searchNavi .goodsList .close a:hover {
    text-decoration: underline;
}

#container #searchNavi .outer {
    height: 30px;
}

#container .categoryNavi #searchTitle {
    line-height: 35px;
    font-size: 14px;
    font-style: italic;
    color: #333;
    border-bottom: 1px solid #333;
    margin: 30px 0 20px 0;
    padding-left: 35px;
    background: url(../images/catnavi-icon-search.png) left center no-repeat;
}

#container .categoryNavi .searchSubtitle {
    margin: 20px 0 0 0;
} 

#container .categoryNavi .searchTable {
    width: 100%;
}


.searchKeyword {
    width: 130px;
}

#container .categoryNavi .searchTable .right {
    text-align: right;
}

#container .categoryNavi .searchPrice {
    width: 50px;
}

#container .products {
    float: right;
    width: 650px;
}

.products .clothesHead h1,
.products .goodsHead h1 {
    font-size: 19px;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: 0;
    border-bottom: #ccc solid 1px;
    color: #ccc;
    text-shadow: #666 1px 1px 0;
}

.products .productsList .images {
    float: left;
    padding: 0 0 20px 25px;
}

.products .productsList .images a {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: -webkit-box-shadow 0.2s linear,background-color 0.2s linear;
    -moz-transition: -moz-box-shadow 0.2s linear,background-color 0.2s linear;
    -o-transition: -o-box-shadow 0.2s linear,background-color 0.2s linear;
    transition: box-shadow 0.2s linear,background-color 0.2s linear;    
}

.products .productsList .images a:hover {
    box-shadow: #ccc 0 0 20px 1px;
}

.products .productsList .images .productsName,
.products .productsList .images .productsPrice {
    margin-left: 5px;
}

.products .productsList .images:first-child {
    padding-left: 0;
}

.products .productsList .images img {
    width: 180px;
    height: 180px;
}

.products .pageNavi {
    margin-top: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 20px;
}

.products .pageNavi .paging {
    text-align: center;
}

.products .pageNavi .pages {
    margin: 0 16px;
    color: #ccc;
    line-height: 21px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.products .pageNavi .pages li {
    float: left;
    display: inline-block;
    padding: 0 10px;
}

.products .pageNavi .pages li a:hover {
    color: #ff4de7;
}

.products .pageNavi .navipageForward {
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
}

.products .pageNavi .navipageForward img {
    display: block;
}

/* Maintenance */

#maintenance {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.box h1 {
    text-align:center;
    position:relative;
    top:100px;
    color: #391818;
    font-size: 18px;
    font-family: 'Prosto One', cursive;
}

.box {
    width:70%;
    height:300px;
    background: url(../images/pigg_board.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px auto;
    margin:40px auto;
}

/* My Page */

#myPage {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#myPage .wrapper {
    width: 70%;
    background: #fff;
    margin: 40px auto;
    padding-top: 10px;
}

#myPage .paper {
  position: relative;
}

#myPage .paper:before, #myPage .paper:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#myPage .paper:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#myPage article {
    float: left;
    width: 250px;
    margin-left: 30px;
    text-align: center;
    margin-top: 0px;
}

#myPage .first {
    border: 0;
    margin-left: 50px;
    text-align: left;
    margin-top: 0px;
    letter-spacing: 1px;
}

#myPage article h2 {
    margin: 0.4em 0em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.4em;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    color: #666;
}

#myPage article p {
    padding: 0px 10px;
    display: block;
    min-height: 66px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0;
    margin: 1em 0;
    font-family: "FuturaPT-Light", sans-serif;
    font-size: 13px;
}

#myPage article form {
    width: 236px;
    margin: 0;
    display: block;
}

#myPage article fieldset {
    text-align: left;
    margin: 1em 0em;
    border: 0;
    padding: 0;
}

#myPage article fieldset label {
    font-size: 0.7em;
    cursor: default;
}

#myPage article input[type="text"] {
    font-size: 15px;
    height: 35px;
    float: left;
    display: block;
    padding-left: 15px;
    padding-top: 2px;
    border: 1px solid #ddd;
}

#myPage article input[type="password"] {
    font-size: 15px;
    height: 35px;
    float: left;
    display: block;
    padding-left: 15px;
    padding-top: 2px;
    border: 1px solid #ddd;
}

#myPage article a {
    font-size: 0.7em;
}

#myPage article .loginButton {
    width: auto;
    float: right;
    margin: 2em 0em;
    text-align: left;
    position: relative;
    background: #fff url(../images/login.png) no-repeat 3px 3px;
    background-position: 13px 4px;
    border: 0;
    font-size: .8125em;
    color: #666;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-height: 41px;
    padding: 12px 30px 12px 50px;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    line-height: normal;
    vertical-align: baseline;
}

#myPage article .newAccount {
    margin-top: 18px;
    width: 80%;
    font-size: 0.75em;
    min-height: 40px;
    padding-bottom: 12px;
    padding-top: 11px;
    background: #fff;
    color: #666;
    border: 1px solid #ddd;
    padding: 12px 40px 12px 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20px;
    line-height: normal;
    vertical-align: baseline;
}

/* Product Page */

#container .productsPage .left {
    width: 45%;
    float: left;
    margin-top: 20px;
}

#container .productsPage .left #bx-pager {
    text-align: center;
}

#container .productsPage #bx-pager a {
    margin: 0 3px;
}

#container .productsPage #bx-pager a img {
    border: solid #ccc 1px;
}

#container .productsPage #bx-pager a:hover img,
#container .productsPage #bx-pager a.active img {
    border: solid #abd3ee 1px;
}

#container .productsPage .right {
    width: 55%;
    float: left;
    text-align: center;
    margin-top: 30px;
}

#container .productsPage .right #productInfo {
    width: 100%;
    text-align: center;
    display: block;
}

#container .details {
    padding: 10px 5%;
    display: block;
}

.details h3 {
    margin: 10px 0;
    display: block;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.details h5 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0 0 10px 0;
    display: block;
}

.details p {
    padding: 5% 0;
    margin: 0 0 10px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #858585;
}

#container .selectBtn {
    padding: 10px 5%;
    display: block;
}

.size {
    position: relative;
    width: 80%;
    height: 56px;
    background-color: #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.size:after {
    position: absolute;
    top: 14px;
    right: 15px;
    font-family: "icomoon";
    font-size: 26px;
    line-height: 30px;
    content: "\e604";
    color: #fff;
    z-index: 99;
}

.size select {
    display: block;
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 18px 15px 8px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow:"";
    cursor: pointer;
}

#container .form-actions {
    padding: 10px 0 40px 0;
}

.btn-primary {
    color: #fff;
    background-color: #ccebff;
    border-color: #ccebff;
    padding: 15px 0;
    height: 56px;
    width: 80%;
    line-height: 28px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid #ccebff;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear,border-color 0.2s linear;
    -moz-transition: background-color 0.2s linear,border-color 0.2s linear;
    -o-transition: background-color 0.2s linear,border-color 0.2s linear;
    transition: background-color 0.2s linear,border-color 0.2s linear;
}

.btn:hover {
    background-color: #ffebf9;
    border-color: #ffebf9;
}

.btn-primary:hover {
    text-shadow: -1px -1px 1px #ccc;
}

#container .recommend {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container .recommend {
    
}

#container .recommend a {
    margin: 0 3px;
}

#container .recommend a img {
    border: solid #ccc 2px;
}

#container .recommend  a:hover img,
#container .recommend  a.active img {
    border: solid #abd3ee 2px;
}

#container .recommend .recommendSlider ul {
    margin: 0;
    padding: 0;
}

#container .recommend .bx-wrapper {
    margin-left: auto;
    margin-right: auto;
}

#container .recommend .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    left: 3px;
}

#container .recommend .bx-wrapper .bx-prev {
    left: -60px;
}

#container .recommend .bx-wrapper .bx-next {
    right: -60px;
}

#container .recommend {
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    margin-top: 50px;
}

#container .recommend h4 {
    float: right;
    margin: 0;
    padding: 3px;
    font-size: 16px;
    border: #ccc solid 1px;
    background-color: #ccc;
    color: #fff;
    text-shadow: -1px -1px #999;
    letter-spacing: 1px;
    box-shadow: 1px 1px 1px #999;
}